
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<meta name="viewport" content="width=640">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- enable media queries for windows phone 8 -->
<meta name="format-detection" content="telephone=no">
<title>BalleBaazi.com</title>

</head> 
<body style='margin: 0px; padding: 0px; background: #fff; font-size: 14px; font-family: arial,helvetica,sans-serif,verdana;'>
<table border="0" cellpadding="0" cellspacing="0" width="640" height="800" align="center" background="http://52.74.70.180:8086/images/emailer/emailerback.png" style="width:640px; height:800px; background:url('http://52.74.70.180:8086/images/emailer/emailerback.png') no-repeat center; background-size:cover; border-collapse: collapse;border:none;">
<tr> <td style="border:none;border-collapse: collapse;" height="10">&nbsp;</td> </tr>
<tr>
<td align="center" > 
<a href="https://www.ballebaazi.com/" target="_blank" style="text-decoration:none;"><img src="http://52.74.70.180:8086/images/emailer/logo.png" alt="ballebaazi" width="305" height=""></a>
</td>
</tr>
<tr> <td style="border:none;border-collapse: collapse;" height="10">&nbsp;</td> </tr>
<tr>
<td> 
<table style="border-collapse: collapse;border:none;" border="0" cellpadding="0" cellspacing="0" width="500" align="center" bgcolor="#ffffff" style="border-radius:4px; overflow:hidden; ">
    <tr height="50" > <td colspan='2'>&nbsp;</td> </tr>
<tr>
<td align="center" valign="top"> 
<a href="#" style="text-decoration:none;" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/shutterstock-714912016@2x.png" alt="ballebaazi" width="250" ></a>
</td>
</tr>
<tr> <td height="50" colspan='2'>&nbsp;</td> </tr>

<tr>
<td>
<table  style="border-collapse: collapse;border:none;" border="0" cellpadding="0" cellspacing="0" width="540" align="center" bgcolor="#ffffff" style="border-radius:4px; overflow:hidden;">
<!--<tr> <td align="center"><h1 style="color:#1b66c3; font-size:22px;">Deposit Bonus Credited </h1></td> </tr>-->
<tr> <td height="20">&nbsp;</td> </tr>
<tr> <td align="center"><p style="color:#7c888d; line-height:180%%; margin: 0px 0px 0px 10px; padding: 0px 20px;font-size:16px;font-weight: normal;line-height:22px;font-family:arial,helvetica,sans-serif,verdana; ">Dear <span style="color:#1b66c3;">%s </span>,<br>
    Your Winnings are on the way! Your Withdrawal Request has been approved and will reflect in your bank account within 24 hours. Why stop now? Keep Playing & Keep Winning!
</p></td> </tr>
    	
<tr height="20"> <td height="10" colspan="2">&nbsp;</td> </tr>

    </table>
    
    </td>
</tr>


<tr>
<td>
<table style="border-collapse: collapse;border:none;" border="0" cellpadding="0" cellspacing="0" width="540" align="center" bgcolor="#ffffff" style="border-radius:4px; overflow:hidden;">

<!--<tr height="2"> <td colspan="2">&nbsp;</td> </tr>-->
<tr> 
<td colspan="2" align="center">
    <a href="%s" target="_blank" style="font-family: arial,helvetica; text-decoration:none; width: 76px;height: 21px;font-family: HelveticaNeue;font-size: 17px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: normal;
    "><button style="background-color: #086ac5;color: #ffffff;width: 149.8px;cursor:pointer;height: 34px;border-radius: 4.5px;border: none;">Play More</button></a>

</td> 
</tr>
<tr height="20"> <td height="10" colspan="2">&nbsp;</td> </tr>

</table>
</td>
</tr>   

</table>
</td>
</tr>
<tr height="20"> <td>&nbsp;</td> </tr>
<!-- footer -->
<tr>
<td> 
<table style="border-collapse: collapse;border:none;" border="0" cellpadding="0" cellspacing="0" width="400" align="center" >
<tr>
<td>
<table style="border-collapse: collapse;border:none;"  border="0" cellpadding="0" cellspacing="0" width="100%%" align="center" >
<tr>
<td width="100%%" align="center" colspan="3"><p style="display: inline-block;"><a href="https://www.ballebaazi.com/" target="_blank"  style="color:#a7afb3; text-align:left; text-decoration: underline;">Invite your friends &amp; earn as they play!</a></p></td>
</tr>
<tr>
<table border="0" cellpadding="0" cellspacing="0" width="400" align="center" >  
<tr height="30" align="center"> 
<td align="left" width="20%%">&nbsp;</td> 
<td colspan="3" align="center" ><p style="display: inline-block;"><a href="https://www.ballebaazi.com/helpdesk" target="_blank"  style="color:#a7afb3; display: inline-block; ">Need Help?</a></p></td>
<td colspan="3" align="center" style="display: inline-block;"><p style="display: inline-block;" ><a href="mailto:support@ballebaazi.com" target="_blank"  style="color:#a7afb3;">Contact Us</a></p></td>
<td align="right" width="20%%">&nbsp;</td> 
</tr>


<tr height="40" align="center"> 
<td align="left" width="20%%">&nbsp;</td> 
<td colspan="3" align="center" ><a href="https://itunes.apple.com/in/app/ballebaazi/id1438726846?mt=8" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/apple.png" style="margin: 0 10px;"></a></td>
<td colspan="3" align="center"><a href="https://www.ballebaazi.com/download/" target="_blank"><img src="https://www.ballebaazi.com/image_new/android_v1.png"></a></td>
<td align="right" width="20%%">&nbsp;</td> 


</tr>

<tr height="20"> <td>&nbsp;</td> </tr>
</table>
    </tr>



<!-- social media -->
<tr> 
<td align="center" >
<a href="https://www.facebook.com/ballebaazi" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/facebook@2x.png" alt="ballebaazi" width="41" ></a>
<img src="http://52.74.70.180:8086/images/emailer/spacer.gif" alt="ballebaazi" width="17" height="42">
<a href="https://twitter.com/ballebaazi" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/twitter@2x.png" alt="ballebaazi" width="41" ></a>
<img src="http://52.74.70.180:8086/images/emailer/spacer.gif" alt="ballebaazi" width="17" height="42">
<a href="https://www.youtube.com/channel/UCRxnzG090Y-Brc-Z9ia4AgA" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/go@2x.png" alt="ballebaazi" width="41" ></a>
<img src="http://52.74.70.180:8086/images/emailer/spacer.gif" alt="ballebaazi" width="17" height="42">
<a href="https://www.instagram.com/balle.baazi/" target="_blank"><img src="http://52.74.70.180:8086/images/emailer/instagram@2x.png" alt="ballebaazi" width="41" ></a>
</td> 
</tr> 
<tr height="30"> <td>&nbsp;</td> </tr>
</table>
</td>
</tr>
</table>
    </td>
    </tr>
    </table>

</body>
</html>